@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: #dce5f3;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 300px; 
  background-color: #07919b;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100vh; 
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  font-size: 18px;
  transition: background-color 0.3s;
}

.sidebar a.active {
  background-color: #032735;;
  font-weight: bold;
}

.link_names {
  font-size: 0.9em; 
}

.sidebar a:hover {
  background-color: #0670da;
}

.sidebar .active {
  background-color: #07919b;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.corner-image,
.corner-image2 {
  width: 53px;
  height: auto;
  margin-top: 20px;
}

.main {
  width: 100%;
  padding: 15px;
  background-color: white;
  margin-left: 320px; 
}

header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

section {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #dce5f3;
  border-radius: 30px;
  margin-bottom: 26px;
}

.graph {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

.graph1 {     /* grafik total penjualan */
  width: 100%;
  height:auto;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  transition: transform 0.3s linear;
  transform: translateY(-5px);
}

.graph1:hover {
  transition: transform 0.3s linear;
  transform: translateY(-5px);
}

.graph:hover {
  transition: 0.3s linear;
  transform: translateY(-5px);
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-radius: 10px;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  border-radius: 5px;
}

th {
  background-color: #07919b;
  color: white;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

.pagination button {
  background-color: #07919b;
  border: none;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #065c64;
}

.pagination button.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #032735;
  font-weight: bold;
}


/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  body {
    flex-direction: row;
  }

  .sidebar {
    width: 319px; 
    left: 0;
  }

  .main {
    width: calc(100% - 320px); 
    margin-left: 320px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .graph {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    left: 0;
    height: auto; 
  }

  .main {
    width: 100%;
    margin-left: 0;
  }
}

#table-search-input {
  margin-bottom: 5px;
  padding: 5px;
  width: 30%;
  box-sizing: border-box;
  float: right;
  border: none;
  border-radius: 6px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}
