body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3c83da; 
    color: white; 
    position: relative; 
}

header {
    background-color: #3c83da;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #fff; 
    width: calc(33.33% - 20px); 
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #333; 
}

.corner-image {
    position: absolute;
    top: 18px;
    left: 3%;
    width: 50px;
    height: auto;
    z-index: 1; 
}

.corner-image2 {
    position: absolute;
    top: 25px;
    left: 7%;
    width: 60px;
    height: auto;
    z-index: 1; 
}
